* {
    box-sizing:border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}

.container {
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 60vw;
    padding: 24px;
    gap: 16px;
    border: 5px solid cyan;
}

.header{
    text-align: center;
}
.body {
    display: flex;
    flex-direction: column;
    
}

.btns {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 32px;
}

.outcome{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding: 24px;
}

.tally{
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 16px;
    padding: 24px;
}

